In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import pandas as pd
file_path=r"C:\Users\Swetha\Downloads\Visadataset.csv"
visa_df=pd.read_csv(file_path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [3]:
cat_columns=visa_df.select_dtypes(include='object').columns
num_columns=visa_df.select_dtypes(exclude='object').columns
num_columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

In [7]:
visa_df[['prevailing_wage']]

       prevailing_wage
0             592.2029
1           83425.6500
2          122996.8600
3           83434.0300
4          149907.3900
...                ...
25475       77092.5700
25476      279174.7900
25477      146298.8500
25478       86154.7700
25479       70876.9100

[25480 rows x 1 columns]

In [8]:
len(visa_df['prevailing_wage'])

25480

In [10]:
visa_df.iloc[:3]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied

In [19]:
min(visa_df['continent'].value_counts())

192

In [12]:
max(visa_df['case_status'])

'Denied'

In [25]:
count=len(visa_df['no_of_employees'])
max_num=max(visa_df['no_of_employees'])
min_num=min(visa_df['no_of_employees'])
print('no.of employees',count)
print('min of number count',min_num)
print('max of number count',max_num)

no.of employees 25480
min of number count -26
max of number count 602069

In [28]:
m1=visa_df[ 'prevailing_wage'].mean()
m1

74455.81459209183

In [29]:
m2=visa_df[ 'prevailing_wage'].median()
m2

70308.20999999999

In [30]:
#numpy
np.mean(visa_df[ 'prevailing_wage'])

74455.81459209183

In [31]:
np.median(visa_df[ 'prevailing_wage'])

70308.20999999999

In [7]:
for i in num_columns:
    count=len(visa_df[i])
    min=np.min(visa_df[i])
    max=np.max(visa_df[i])
    mean=np.mean(visa_df[i])
    median=np.median(visa_df[i])
    std=np.std(visa_df[i])
    p_25=np.percentile(visa_df[i],25)
    p_50=np.percentile(visa_df[i],50)
    p_75=np.percentile(visa_df[i],75)
    v=[count,min,max,mean,median,std,p_25,p_50,p_75]
    c=['count','min','max','mean','median','std','p_25','p_50','p_75']
    col=[i]
    s=pd.DataFrame(v,index=c,columns=col)
    d=pd.concat([d,s],axis=1)
d

NameError: name 'd' is not defined

In [10]:

Min=np.min(visa_df['no_of_employees'])
Min

-26