In [7]:
import pandas as pd
df=pd.DataFrame()
l1=[i for i in range(1,11)]
l2=[i*i for i in range(1,11)]
l3=[i*i*i for i in range(1,11)]
data=zip(l1,l2,l3)
df=pd.DataFrame(data,columns=['num','squares','cubes'])
print(df)

   num  squares  cubes
0    1        1      1
1    2        4      8
2    3        9     27
3    4       16     64
4    5       25    125
5    6       36    216
6    7       49    343
7    8       64    512
8    9       81    729
9   10      100   1000

In [11]:
import pandas as pd
df=pd.DataFrame()
l1=[i for i in range(1,11)]
l2=[i*i for i in range(1,11)]
l3=[i*i*i for i in range(1,11)]
data=zip(l1,l2,l3)
ind=[1,2,3,4,5,6,7,8,9,10]
df=pd.DataFrame(data,index=ind,columns=['num','squares','cubes'])
print(df)

    num  squares  cubes
1     1        1      1
2     2        4      8
3     3        9     27
4     4       16     64
5     5       25    125
6     6       36    216
7     7       49    343
8     8       64    512
9     9       81    729
10   10      100   1000

In [20]:
import pandas as pd
df=pd.DataFrame()
l1=[i for i in range(1,11)]
l2=[i*i for i in range(1,11)]
l3=[i*i*i for i in range(1,11)]
data=zip(l1,l2,l3)
ind=[]
for j in range(1,11):
    ind.append(j)
print(ind)
df=pd.DataFrame(data,index=ind,columns=['num','squares','cubes'])
print(df)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    num  squares  cubes
1     1        1      1
2     2        4      8
3     3        9     27
4     4       16     64
5     5       25    125
6     6       36    216
7     7       49    343
8     8       64    512
9     9       81    729
10   10      100   1000

In [1]:
import pandas as pd
df1=pd.DataFrame()
l1=[i for i in range(1,10)]
l2=[i**2 for i in range(1,10)]
l3=[i**3 for i in range(1,10)]
df1['num']=l1
df1['sqare']=l2
df1['cube']=l3
print(df1)

   num  sqare  cube
0    1      1     1
1    2      4     8
2    3      9    27
3    4     16    64
4    5     25   125
5    6     36   216
6    7     49   343
7    8     64   512
8    9     81   729

##step 6
 * update already existed column
* create new column
* 
* update existed column the column name should be defined

In [18]:
import pandas as pd
df=pd.DataFrame()
age=[11,22,33,44,55]
#updating
df['age']=[12,23,34,45,56]

print(df)

   age
0   12
1   23
2   34
3   45
4   56

**step7**
- how to drop the column
- df1.columns

In [24]:
df1.columns

Index(['X', 'Y', 'Z'], dtype='object')

In [ ]:
inplace()
inplace will provide overwrite the dataframe or not
inplace=true =indicates that the dataframe can be overwrite
inplace =false=indicates the modified dataframe will be used when u provide new variable for the operation

In [38]:
df1.drop('X',axis=1,inplace=True)

AttributeError: 'NoneType' object has no attribute 'drop'